:root {
    --primary-color: #FFAE00;
    --secondary-color: #F56600;
    --contrast-color-dark: #1A1100;
    --contrast-color-light: #F5F5F5;
    --tint-color: #FCFCFC;
    --primary-gradient: linear-gradient(111deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    --contrast-color-dark-seethrough: #1A110070;
    --contrast-color-dark-hidden: #1A110000;
    --contrast-color-light-seethrough: #f5f5f5e6;
    --tint-color-hidden: #FCFCFC00;
    --tint-fade-out-gradient: linear-gradient(0deg, var(--tint-color) 0%, var(--tint-color-hidden) 100%);
    --drop-shadow-color: #e6ecf8bf;
}

* {
    box-sizing: border-box;
    font-family: 'Jost';
    font-weight: 300;
    text-decoration: none;
    color: inherit;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: var(--contrast-color-light);
}

/* General styling */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--primary-gradient);
    width: 100vw;
    margin-top: -80px;
    margin-bottom: 40px;
    padding-top: 280px;
    overflow: auto;
    text-align: center;
    color: white;
}

header > * {
    margin: 0;
}

header > h1 {
    font-weight: 400;
    margin-bottom: 40px;
}

main {
    margin: auto;
    width: 1080px;
    display: flex;
    flex-direction: column;
}

a.active {
    font-weight: 500;
}

a.active * {
    font-weight: 500;
}

.hint {
    color: var(--secondary-color);
    margin: 0;
}

/* Components */

    /* Header */

    html:not([data-scroll='0']) div#Header {
        background-color: var(--contrast-color-dark-seethrough);
        transition-duration: 0.5s;
    }

    html:not([data-scroll='0']) div#Header:hover {
        background-color: var(--contrast-color-dark);
        transition-duration: 0.2s;
    }

    div#Header {
        display: flex;
        position: sticky;
        top: 0;
        width: 100vw;
        height: 80px;
        padding: 0 40px;
        align-items: center;
        justify-content: space-between;
        color: white;
        background-color: var(--contrast-color-dark-hidden);
        transition-property: background-color;
        transition-duration: 0.5s;
        z-index: 100;
    }

    div#Header nav {
        display: flex;
    }

    div#Header nav > * {
        transition-duration: 0.2s;
        transition-property: opacity;
        margin-right: 20px;
        opacity: 0.5;
    }

    div#Header nav > *:last-child {
        margin-right: 0;
    }

    div#Header nav > *:hover {
        opacity: 1;
    }

    div#Header nav > *.active {
        opacity: 1;
    } 

    /* Filter / tags list */

    div#FilterList {
        display: flex;
        margin-bottom: 40px;
    }

    div#FilterList > * {
        display: inline-block;
        margin-right: 10px;
        transition-property: transform;
        transition-duration: 0.2s;
        border-radius: 6px;
        background: var(--primary-gradient);
        font-weight: 500;
        color: var(--primary-color);
        cursor: pointer;
    }

    div#FilterList > *:hover {
        transform: translateY(-4px);
    }

    div#FilterList > * > * {
        display: inline-block;
        padding: 6px 10px;
        margin: 2px;
        transition-property: background-color;
        transition-duration: 0.2s;
        background-color: var(--contrast-color-light);
        border-radius: 4px;
        font-size: 12.45pt;
        font-weight: 500;
        color: var(--primary-color);
    }

    div#FilterList > *:hover > * {
        background-color: var(--contrast-color-light-seethrough);
    }

    div#FilterList > *.active > * {
        background: none;
        color: var(--contrast-color-light);
    }

    #FilterText {
        margin-bottom: 20px;
    }

    /* Articles */

    section#Articles {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        perspective: 500px;
    }

    section#Articles > article {
        position: relative;
        height: 320px;
        width: 520px;
        margin-bottom: 40px;
        padding: 20px;
        padding-top: 0;
        overflow: hidden;
        border-radius: 6px 6px 0 0;
        background-color: var(--tint-color);
        box-shadow: 0 6px 5px var(--drop-shadow-color);
        transition-duration: 1s;
    }

    section#Articles > article:hover {
        transform: rotateX(2deg) translateZ(14px);
    }

    section#Articles > article .content {
        transition-duration: 1s;
        height: 181px;
        margin-bottom: 20px;
        overflow: hidden;
        cursor: pointer;
    }
    
    section#Articles > article:hover .content {
        filter: blur(1px) opacity(0.15);
    }

    section#Articles > article::after {
        display: block;
        content: "";
        position: sticky;
        bottom: 0;
        width: 100%;
        height: 30px;
        background-image: var(--tint-fade-out-gradient);
    }

    section#Articles > article::before {
        display: block;
        position: absolute;
        content: "Klik om meer te lezen!";
        width: calc(100% - 40px);
        top: 160px;
        text-align: center;
        font-size: 18pt;
        opacity: 0;
        transition-duration: 1s;
    }

    section#Articles > article:hover::before {
        display: block;
        position: absolute;
        content: "Klik om meer te lezen!";
        width: calc(100% - 40px);
        top: 160px;
        text-align: center;
        font-size: 18pt;
        opacity: 1;
    }

    section#Articles > article > *,
    section#Articles > article > section.content > *  {
        margin: 0;
        margin-bottom: 10px;
    }

    section.content > h1,
    section.content > h2,
    section.content > h3 {
        font-weight: 500;
    }

    section.content > h1 {
        font-size: 15.5pt;
    }



        /* Article header image */

        section#Articles > article > div.headerImage {
            width: calc(100% + 40px);
            height: 80px;
            margin: 0 0px 6px -20px;
            margin-bottom: 6px;
            overflow: hidden;
        }

        section#Articles > article > div.headerImage > img {
            width: 100%;
            transform: translateY();
        }

        /* Article tags list */

        section#Articles > article section.tagsList {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-bottom: 10px;
            overflow-x: hidden;
        }

        section#Articles > article section.tagsList > * {
            display: flex;
            align-items: center;
            height: 23px;
            margin-right: 10px;
            transition-property: transform;
            transition-duration: 0.2s;
            border-radius: 6px;
            background: var(--primary-gradient);
            font-weight: 500;
            color: var(--primary-color);
            cursor: pointer;
        }
    
        section#Articles > article section.tagsList > * > * {
            margin: 1px;
            padding: 3.75px 10px;
            transition-property: background-color;
            transition-duration: 0.2s;
            background-color: var(--tint-color);
            border-radius: 5px;
            font-size: 7pt;
            font-weight: 500;
            color: var(--primary-color);
        }
    
        section#Articles > article section.tagsList > *:hover > * {
            background-color: var(--contrast-color-light-seethrough);
        }

/* Home specific */

.home header {
    height: 920px;
}

/* Portfolio specific */

    /* Header*/

    .portfolio header {
        height: 460px;
    }

    /* Main */
    